<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Chatting</title>
	
	<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/style.css" />
	<link rel="stylesheet" href="/css/back.css" />
</head>
<body>
	<!-- 背景容器 -->
	<div id="container"><div id="output"></div></div>
	<!-- 背景主题选择 -->
	<ul class="color">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
	<!-- 聊天域 -->
	<div class="chat-panel">
		<div class="chat-box">
			<div class="context">
				<div class="chat-row">
					<div class="row-head fl">
						<img src="/image/test-head.jpg" />
					</div>
					<div class="row-body-l">
						<div class="row-name text-left">
							<font>书山</font>
						</div>
						<div class="row-msg">
							<font>测试测试测试测试测试测试测试测试测试</font>
						</div>
					</div>
				</div>
				<div class="chat-row">
					<div class="row-head fr">
						<img src="/image/test-head.jpg" />
					</div>
					<div class="row-body-r">
						<div class="row-name text-right">
							<font>书山</font>
						</div>
						<div class="row-msg">
							<font>测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试
							测试测试测试测试测试测试测试测试测试测试</font>
						</div>
					</div>
				</div>
			</div>
			<div class="edit">
				<div class="tools">
					<i class="fa fa-smile-o" aria-hidden="true"></i>
					<i class="fa fa-picture-o" aria-hidden="true"></i>
				</div>
				<div class="body">
					<textarea></textarea>
				</div>
				<div class="foot">
					<button onclick="sendMsg()">发送</button>
				</div>
			</div>
		</div>
	</div>
	
	<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="/js/vector.js"></script>
	<script src="/js/index.js"></script>
</body>
</html>